<%- include("partials/header.ejs") -%>

<section id="tariffCalc">
    <div class="container-fluid cf-tariffCalc">
        <div class="row">
            <div class="col-md-12 headDiv">
                <h1>Close Trip</h1>
            </div>
            <form action="/updateTrip/<%=trip._id%>" method="post">
                <% if (trip) { %>
                <div class="col-md-6 tripDetailsForm">
                    <h5 class="tripHead">Trip Details</h5>
                    <table class="table">
                        <tbody>
                          
                          <tr>
                            <td>Trip Start Date</td>
                            <td class="boldClass"> <%=trip.dateFrom.toLocaleString().slice(0,9)%></td>
                          </tr>
                          <tr>
                            <td>Trip End Date</td>
                            <td class="boldClass"> <%=trip.dateTo.toLocaleString().slice(0,9)%></td>
                          </tr>
                          <tr>
                            <td>From</td>
                            <td class="boldClass"><%=trip.from%></td>
                          </tr>
                          <tr>
                            <td>To</td>
                            <td class="boldClass"><%=trip.to%></td>
                          </tr>
                          <tr>
                            <td>Vehicle Type</td>
                            <td class="boldClass"><%=trip.vehicleType%></td>
                          </tr>
                       
                        </tbody>
                    </table>
                </div>
                
                <div class="col-md-6 tripDetailsForm">
                    <h5 class="tripHead">Customer Details</h5>
                    <table class="table">
                        <tbody>
                           
                          <tr>
                            <td>Name</td>
                            <td class="boldClass"><%=trip.cusName%></td>
                          </tr>
                          <tr>
                            <td>Contact</td>
                            <td class="boldClass"><%=trip.cusPhone%></td>
                          </tr>
                          <tr>
                            <td>Address</td>
                            <td class="boldClass"><%=trip.cusAdd%></td>
                          </tr>
                          <tr>
                            <td>Pickup Point</td>
                            <td class="boldClass"><%=trip.cusPP%></td>
                          </tr>
                          <tr>
                            <td>Total Days</td>
                            <td class="boldClass"><%=trip.stay%></td>
                          </tr>
                       
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 tariffCol">
                    <h5 class="tripHead">TRIP SHEET</h5>
                </div>

              

                    <div class="col-md-6 tariffDetailsCol">

                      <div class="mb-3">
                        <label for="startingKm" class="form-label">Starting KM</label>
                        <input type="number" class="form-control" id="startingKm" name="startingKm" placeholder="Starting KM">
                      </div>
                      <div class="mb-3">
                        <label for="endingKm" class="form-label">Ending KM</label>
                        <input type="number" class="form-control" id="endingKm" name="endingKm" placeholder="Ending KM" onfocusout="calcKM()">
                      </div>
                        <div class="mb-3">
                            <label for="actualKms" class="form-label">Total KMS</label>
                            <input type="number" class="form-control" id="actualKms" name="actualKms" placeholder="Actual Trip KMs">
                            <div id="passwordHelpBlock" class="form-text">
                                Estimated Total KMS : <%=trip.distance%> | Estimated Rate per KM : <%=trip.perKM%>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="actDayRent" class="form-label">Day Rent</label>
                            <input type="number" class="form-control" id="actDayRent" name="actDayRent" placeholder="Total Day Rent">
                            <div id="passwordHelpBlock" class="form-text">
                                Estimated Day Rent : <%=trip.dayRent%>| No. of Days : <%=trip.stay%>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="actDriverBata" class="form-label">Driver Bata</label>
                            <input type="number" class="form-control" id="actDriverBata" name="actDriverBata" placeholder="Driver Bata">
                            <div id="passwordHelpBlock" class="form-text">
                                Estimated Driver Bata : <%=trip.driverBata%>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="actDriverBata" class="form-label">Permit Charge</label>
                            <input type="number" class="form-control" id="permitCharge" name="permitCharge" placeholder="Permit Charge">
                            <div id="passwordHelpBlock" class="form-text">
                                Estimated Permit Charge : <%=trip.permitAmount%>
                            </div>
                          </div>
                                                 
                          
                    </div>
                    <div class="col-md-6 tariffDetailsCol">
                        
                      <div class="mb-3">
                        <label for="actualToll" class="form-label">Toll Gate</label>
                        <input type="number" class="form-control" id="actualToll" name="actualToll" placeholder="Actual Toll Amount">
                        <div id="passwordHelpBlock" class="form-text">
                            Estimated Toll Amount : <%=trip.tollAmt%>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="actualToll" class="form-label">Hill Charge</label>
                        <input type="number" class="form-control" id="hillCharge" name="hillCharge" placeholder="Actual Hill Charge">
                        <div id="passwordHelpBlock" class="form-text">
                            Estimated Hill Charge : <%=trip.hillCharge%>
                        </div>
                      </div>  
                          <div class="mb-3">
                            <label for="advAmt" class="form-label">Advance Paid</label>
                            <input type="number" class="form-control" id="advAmt" name="advAmt" value="<%=trip.advanceAmt%>">
                          </div>
                          <input type="hidden" name="perKM" value="<%=trip.perKM%>" id="perKM">
                          <div class="mb-3">
                            <label for="tripFare" class="form-label">Total Trip Fare</label>
                            <input type="number" class="form-control" id="tripFare" name="tripFare" placeholder="Trip Fare">
                            <div id="passwordHelpBlock" class="form-text">
                                Estimated Trip Amount : <%=trip.estAmt%>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label for="balTripFare" class="form-label">Balance Amount</label>
                            <input type="number" class="form-control" id="balTripFare" name="balTripFare" placeholder="Balance Trip Fare">
                            <div id="passwordHelpBlock" class="form-text">
                                <!-- Estimated Trip Amount : <%=trip.estAmt%> -->
                            </div>
                          </div>
                          <div class="mb-3">
                            <a onclick="tripRateCalc()"><i class="bi bi-calculator"></i></A>
                            <button type="submit" class="btn btn-sm btn-warning">Update</a>
                            <!-- <a href="/finishTrip/<%=trip._id%>" type="button" class="btn btn-sm btn-success">Close Trip</a> -->
                          </div>      
                    </div>
                      
                 

                <% } %>
              </form>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    function tripRateCalc(){
        var totalKms = Number(document.getElementById("actualKms").value);
        var ratePerKm = Number(document.getElementById("perKM").value);
        var tollAmt = Number(document.getElementById("actualToll").value);
        var driverBata =Number(document.getElementById("actDriverBata").value);
        var dayRent = Number(document.getElementById("actDayRent").value);
        var advanceAmt = Number(document.getElementById("advAmt").value);
        var permitCharge = Number(document.getElementById("permitCharge").value);
        var hillCharge = Number(document.getElementById("hillCharge").value);

        var totalTripFare = (totalKms * ratePerKm) + tollAmt + driverBata + dayRent + hillCharge + permitCharge
        var balTripFare = totalTripFare - advanceAmt;

        document.getElementById("tripFare").value = totalTripFare;
        document.getElementById("balTripFare").value = balTripFare;

    }

    function calcKM(){
      var startingKm = Number(document.getElementById("startingKm").value);
      var endingKm = Number(document.getElementById("endingKm").value);
      var totalKms = endingKm - startingKm;
      document.getElementById("actualKms").value = totalKms;
    }

    
</script>